@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --white: #f7f7f7;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Orator Std, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Anonymous Pro', monospace; */
    /* font-style: normal; */
    line-height: 1.2;
    /* user-select: none; */
}

html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
}

a {
    color : #202020;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-header {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    font-family: Orator Std, monospace;
    color: #202020;
    letter-spacing: 35px;
    padding: 76px 100px;
}

.text-header a {
    color: #202020;
    font-size: 28px;
    font-family: Orator Std, monospace;
}

.text-header-black {
    background-color: black;
    letter-spacing: 35px;
    padding: 76px 100px;
}

.text-header-black a {
    color: white;
    font-size: 28px;
    font-family: Orator Std, monospace;
}


/*  */

.txt01 {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 150px;
}

.txt01-01 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 485px;
    margin-bottom: 150px;
}


.txt01-02 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 440px;
    margin-bottom: 150px;
}

.txt01-03 {
    text-align: center;
    font-size: 12px;
    margin-right: 310px;
    margin-top: 10px;
    margin-bottom: 150px;
}

.txt01-04 {
    text-align: center;
    font-size: 12px;
    margin-right: 250px;
    margin-bottom: 150px;
}

.img02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}
.img02 img {
    width: fit-content;
    height: 100%;
}

.txt03 {
    margin-top: 20px;
    margin-left: -100px;
}


.txt04-all {
    margin-top: 30px;
    margin-right: 100px;
}

.txt04-tyde {
    margin-left: 40px;
}

.pdf-hover-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
}
.pdf-hover a {
    font-size: 13px;
}

.pdf-hover:hover,
.pdf-hover-link a:hover {
    background-color: #00ff33;
}

.pdf-hover-link a {
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    font-size: 13px;

}
.pdf-hover-link {
    padding-left: 100px;
    width: fit-content;
}

.pdf-hover-link a {
    font-family: Arial, Helvetica, sans-serif;
}

.img03 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

.img03 img {
    width: fit-content;
    height: 100%;
}

.img04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 105vh;
    margin-bottom: 30px;
}

.img04 img {
    width: fit-content;
    height: 100%;
}

.sf-img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 320px;
    gap: 1em;
}

.sf-img p{
    font-size: 12px;
}

.sf-img img {
    width: 100%;
    height: fit-content;
}

.sf-img-big {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 410px;
}

.sf-img-big img {
    width: 100%;
    height: fit-content;
}

.sf-img-small {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 210px;
    height: 330px;
    font-size: 12px;
}

.sf-img-small img {
    width: 100%;
    height: fit-content;
}

.text-sticky {
    position: relative;
    top: 810vh;
    right: 50px;
    width: 400px;
    height: auto;
    position: absolute;
    font-size: 13px;
}

.gb-img-small {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: column;
    gap: 15px;
    width: 130px;
    height: 300px;
}

.gb-img-small:nth-child(1) a{
    padding: 5px 41px;
}

.gb-img-small:nth-child(2) a{
    position: relative;;
    top: 60px;
}
.gb-img-small:nth-child(3) a{
    position: relative;;
    top: 25px;
}
.gb-img-small:nth-child(2) img{
    height: 150%;
}
.gb-img-small:nth-child(3) {
    gap: 1px;
}

.gb-img-small:nth-child(7){
    gap: -10px;
    padding: 0px;
    margin: 0px;
}

.gb-img-small:nth-child(7) a{
    padding: 3px 4px;
    gap: 0px;
}

.gb-img-small:nth-child(7) img{
    height: 50%;
}

.gb-img-small:nth-child(5){
    gap: 15px;
}

.gb-img-small a{
    padding: 5px 5px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background-color: lightgray;
}

.gb-img-small a:hover {
    background-color: #00ff33;
}

.gbg {
    height: 100vh;
}
.gbg a:hover{
    text-decoration: none;
    color: black;

}

.gb-img-small p {
    font-size: 13px;
}

.gb:hover {
    background-color: #00ff33;
}

.gb-img-small img {
    width: 120px;
    height: auto;
}

/* ABOUT  */


.about {
    font-size: 12px;
}
.about-txt {
   display: flex;
   flex-direction: column;
   padding: 0px 100px;
   gap: 5px;
   font-size: 13px;
   margin-bottom: 50px;

}
.about-txt p {
    font-family: Arial, Helvetica, sans-serif;
}
.about-txt p i {
    font-family: Arial, Helvetica, sans-serif;
}
.about-txt h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.about-txt a {
    font-family: Arial, Helvetica, sans-serif;
}

.about-txt a:hover {
    background-color: #00ff33;
}

/* Containers gsw */

.double-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px 200px;
}

/* Container WBRC */

.double-container-wbrc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 150px;
    padding: 30px 100px;
}

.text-container-wbrc {
    padding: 100px 100px;

}

.text-container-wbrc p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.text-container-wbrc p i {
    font-family: Arial, Helvetica, sans-serif;
}

.double-container-gb {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    align-items: flex-end;
    gap: 30px;
    row-gap: 15px;
    padding: 0px 100px;
    
}
.btn1{
    padding: 5px 10px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.btn2 {
    padding: 5px 5px;
    width: auto;
    word-wrap: break-word;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    border: none;
}
.btn2 input {
    width: auto;
    height: fit-content;
    word-wrap: break-word;
    padding: 10px 10px;
}

#btn3 {
    padding: 5px 10px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.double-container-gb input:hover{
    background-color: #00ff33;
}

.text-container-gb {
    padding: 50px 100px;
    letter-spacing: 0px;
    font-size: 14px;
}

.love-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 100px;
}

.img01{
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    /* margin-bottom: 30px; */
}

.img01-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    margin-bottom: 30px;
}
.img01-container div {
    display: flex;
    align-content: flex-start;
}

.img01 img {
    width: fit-content;
    height: 100%;
}

.img01-ll {
    display: flex;
    justify-content: center;
}
.img01-ll img {
    width: 1220px;
    height: fit-content;
}

#image{
    width: 100%;
    max-width: 350px;
    margin: 20px;
    border-radius: 5px;
  }

/* /////// Goodbye Sad World //////////// */

.links-section {
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gsw {
    height: auto;
}

.gsw-text {
    display: flex;
    justify-content: flex-start;
}
.gsw-text a {
    font-size: 30px;
    padding-left: 100px;
    padding-top: 50px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.txt-container {
    width: fit-content;
    height: 30px;
    display: flex;
    align-self: center;
}
.img-container p {
    text-align: left;
}

/* ////////ROOTED //////////////////////// */

.rooted {
    background:black;
    height: auto;
}

.rooted img {
    padding: 50px 100px 0px 100px;
    width: 100%;
}
.rooted p {
    color: white;
    padding: 10px 50px 10px 50px;
}
.rooted-text {
    display: flex;
    justify-content: flex-start;
}
.rooted-text a {
    font-size: 30px;
    padding: 10px 50px 10px 50px;
    
}
.rooted iframe {
    padding: 20px 50px;
    width: 100%;
    height: 600px;
    border: none;
}

/* SLIDER */

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.imgsl{
	max-width: 400px;
}
.container{
	padding: 30px 0px;
}
figure{
	max-width: 500px;
	margin: 0 auto 30px;
}
figure img{
	max-width: 200px;
	min-width: 200px;
	display: block;
}
.ulslider{
	list-style: none;
	margin: 0;
	text-align: center;
}
.ulslider li{
	margin: 0 5px;
	display: inline-block;
	width: 100px;
	border:1px solid #fff;
	cursor: pointer;
}
.ulslider li img{
	display: block;
    width: 100px;
    height: 100px;
}

/* .thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }
  
  .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  } */

/* SLIDER  GREEN BOOKS*/

#rest,
#lonam,
#tears,
#ihosta,
#tmh,
#faf,
#hove {
    background-color: rgb(241, 241, 241);
    width: auto;
    padding: 0px 40px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 450px;
    display: none;
}
/* 
#content-wrapper,
#content-wrapper2,
#content-wrapper3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column,
.column2,
.column3 {
	width: 600px;
	padding: 10px;

}

#featured,
#featured2,
#featured3{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 30px solid rgb(241, 241, 241);

}

.thumbnail,
.thumbnail2,
.thumbnail3{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;

}

.thumbnail:hover,
.thumbnail2:hover,
.thumbnail3:hover{
	opacity:1;
}

.active,
.active2,
.active3{
	opacity: 1;
}

#slide-wrapper,
#slide-wrapper2,
#slide-wrapper3{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider,
#slider2,
#slider3{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

#slider::-webkit-scrollbar {
		width: 2px;
}
#slider2::-webkit-scrollbar{
    width: 2px;
}
#slider3::-webkit-scrollbar{
    width: 2px;
}

.arrow,
.arrow2,
.arrow3{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover,
.arrow2:hover,
.arrow3:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
} */

.x-button {
    position: absolute;
    top: 8px;
    right: 10px;
}
.x-button a:hover{
    color: #00ff33;
}
/* .x-button input {
    width: 25px;
    border: none;
} */

/* MUSIC PLAY */
.container-audio {
    width: 30%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.container-audio-2 {
    width: 23%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

audio {
  width:100%;
  height: 20px;
}

/* footer */

.next-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

footer {
    height: 10vh;
    padding: 15px 0px;
    background-color:black;
    color: white;
}

footer h4{
    padding: 0px 100px;
    font-family: Orator Std, monospace;
}

footer a {
    margin-left: 100px;
    font-family: Orator Std, monospace;
    color: white;
    width: fit-content;

}

footer a:hover {
    background-color: #00ff33;
    
}


/* Media Queries */

@media (max-width: 768px) {
    .text-header {
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0;
    }

    .text-header a {
        font-size: 20px;
        padding: 0;
        margin: auto;
    }

    nav {
        padding: 20px;
    }

    nav ul li a {
        font-size: 20px;
    }
    
    nav ul ul li a{
        font-size: 20px;
        padding-left: 30px;
    }

    .gsw-text a{
        font-size: 20px;
        padding: 20px 20px;
    }
    
    .gsw img {
        padding: 5px 20px;
    }

    .gsw p {
        margin: 0px;
        padding: 5px 20px;
    }

}