@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --white: #f7f7f7;
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: orator-std, monospace; */
    font-family: 'Anonymous Pro', monospace;
    line-height: 1.2;
    /* user-select: none; */
    
    
}
html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
    background: url(FreshPaint-42-2021.01.11-11.25.03.jpg) no-repeat top center / cover;
    background-size: cover;
}

a {
    color : #202020;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

.text-header {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    color: #202020;
    letter-spacing: 35px;
    padding: 76px 150px;
}
.text-header a {
    color: white;
    font-size: 28px;
}

nav ul {
    list-style: none;
}
nav li {
    width: fit-content;
    position: relative;
    margin-top: 5px;
}

nav li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: rgb(68, 67, 67);
    transition: 0.4s ease-out;
}

nav li:hover::after{
    left: 0;
    width: 100%;
}

nav {
    padding: 10px 150px;
    height: 67vh;
}

nav a {
    color : #202020;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}
nav a:hover {
    color: #1b1b1b;
}

/* =====NEW CODE ========== */

nav ul li a{
    position: relative;
    color: #1b1b1b;
    text-decoration: none;
    font-size: 24px;
    font-weight: 590;
    display: block;
    width: 100%;
}

nav ul ul{
    position: static;
    display: none;
}

nav ul .feat-show.show{
    display: block;
}

nav ul .serv-show.show1{
    display: block;
}

nav ul ul li{
    line-height: 42px;
}

nav ul ul li a{
    font-size: 18px;
    font-weight: bold;
    color: #202020;
    padding-left: 80px;
}

nav ul li.active ul li a{
    color : #202020;
}

nav ul li.active ul li a:hover{
    color: #202020;
}

/* /////// Goodbye Sad World ////////////

.gsw {
    height: auto;
}
.gsw img {
    padding: 50px 100px 0px 100px;
    width: 100%;
}
.gsw p {
    margin-left: 100px;
    font-size: large;
    font: bolder;
}
.gsw-text {
    display: flex;
    justify-content: flex-start;
}
.gsw-text a {
    font-size: 30px;
    padding-left: 100px;
}


/* ////////ROOTED //////////////////////// */

/* .rooted {
    background-color: whitesmoke;
    height: auto;
}
.rooted img {
    padding: 50px 100px 0px 100px;
    width: 100%;
}
.rooted p {
    padding: 10px 50px 10px 50px;
}
.rooted-text {
    display: flex;
    justify-content: flex-start;
}
.rooted-text a {
    font-size: 30px;
    padding: 10px 50px 10px 50px;
    
}
.rooted iframe {
    padding: 20px 50px;
    width: 100%;
    height: 600px;
    border: none;
} */

/* Media Queries */

@media (max-width: 768px) {
    body {
        background-size: cover;
        height: 100vh;
        background-position: center;
    }

    .text-header {
        display: flex;
        align-items: center;
        padding: 50px 30px;
    }

    .text-header a {
        font-size: 14px;
        padding: 0;
        margin: auto;
        font-weight: bold;
        color: white;
    }

    nav {
        padding: 30px;
    }

    nav ul li a {
        font-size: 25px;
    }
    
    nav ul ul li a{
        font-size: 20px;
        padding-left: 30px;
        font-weight: normal;
        
    }

}
