@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
    --white: #f7f7f7;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Orator Std, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Anonymous Pro', monospace; */
    /* font-style: normal; */
    line-height: 1.2;
    /* user-select: none; */
}

html,
body {
    overflow-x: hidden;
}

body {
    width: 100%;
}

a {
    color : #202020;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-header {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    font-family: Orator Std, monospace;
    color: #202020;
    letter-spacing: 35px;
    padding: 76px 100px;
}

.text-header a {
    color: #202020;
    font-size: 28px;
    font-family: Orator Std, monospace;
}

.text-header-black {
    background-color: black;
    letter-spacing: 35px;
    padding: 76px 100px;
}

.text-header-black a {
    color: white;
    font-size: 28px;
    font-family: Orator Std, monospace;
}


/*  */

.txt01 {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 150px;
}

.txt01-01 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 485px;
    margin-bottom: 150px;
}


.txt01-02 {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 440px;
    margin-bottom: 150px;
}

.txt01-03 {
    text-align: center;
    font-size: 12px;
    margin-right: 310px;
    margin-top: 10px;
    margin-bottom: 150px;
}

.txt01-04 {
    text-align: center;
    font-size: 12px;
    margin-right: 250px;
    margin-bottom: 150px;
}


.img02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}
.img02 img {
    width: fit-content;
    height: 100%;
}

.txt03 {
    margin-top: 20px;
    margin-left: -100px;
}


.txt04-all {
    margin-top: 30px;
    margin-right: 100px;
}

.txt04-tyde {
    margin-left: 40px;
}
/* TYDE */

.tyde-container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
    min-height: 100vh;
}
.content{
    height: 400px;
    width: 750px;
    position: relative;
    
}
  .content .images{
    height: 100%;
    width: 100%;
}
  .content .images img{
    height: 100%;
    width: 100%;
  }
  .btm-slides{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  .btm-slides span{
    height: 9px;
    width: 35px;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    cursor: pointer;
  }
  .sliders:hover{
    background: rgba(255,255,255,0.2);
  }
  .right{
    right: 0;
  }
  .sliders span{
    line-height: 41px;
    font-size: 35px;
    color: white;
  }
  .sliders span:hover{
      color: #00ff33;
  }

  /* PDFS */

.pdf-hover-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
    margin-top: 30px;
    padding-left: 100px;
}
.pdf-hover a {
    font-size: 13px;
}

.pdf-hover:hover,
.pdf-hover-link a:hover {
    background-color: #00ff33;
}

.pdf-hover-link a {
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    font-size: 13px;

}
.pdf-hover-link {
    padding-left: 100px;
    width: fit-content;
}

.pdf-hover-link a {
    font-family: Arial, Helvetica, sans-serif;
}

.img03 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}

.img03 img {
    width: fit-content;
    height: 100%;
}

.img04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 105vh;
    margin-bottom: 30px;
}

.img04 img {
    width: fit-content;
    height: 100%;
}

.sf-img {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
}

.sf-img:nth-child(5){
    margin-top: 10px;
}

.sf-img p{
    font-size: 12px;
    margin-top: 10px;
}
.sf-img:nth-child(1) p {
    margin-top: 8px;
}


.sf-img img {
    width: 100%;
    height: 273px;
}
.sf-img:nth-child(4) img{
    height: 273px;
}

.sf-img-big {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 410px;
}

.sf-img-big img {
    width: 100%;
    height: fit-content;
}

.sf-img-small {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 210px;
    height: 330px;
    font-size: 12px;
}

.sf-img-small img {
    width: 100%;
    height: fit-content;
}

.text-sticky {
    position: relative;
    top: 793vh;
    right: 50px;
    width: 400px;
    height: auto;
    position: absolute;
    font-size: 13px;
}

.gb-img-small {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: column;
    gap: 15px;
    width: 130px;
    height: 300px;
}
.gb-cards {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 0px;
    width: 130px;
    height: 300px;
    cursor: pointer;
}
.gb-cards img:hover {
    transform: scale(1.02);
    transition: ease-in-out 200ms;
}
.gb-cards a {
    font-weight: 700;
    padding: 6px 6px 6px 0;
    width: fit-content;
    margin-top: 10px;
}
.gb-cards a:hover{
    background-color: #00ff33;
}
.gb-cards p,
.gb-cards a {
    font-size: 12px;
}
.card-p {
    padding-top: 20px;
}
.gb-cards img {
    height: 60%;
    width: 100%;
}
.gb-cards:nth-child(2) img,
.gb-cards:nth-child(5) img{
    height: 40%;
    margin-top: 58px;
}

.gb-cards:nth-child(1) a,
.gb-cards:nth-child(5) a,
.gb-cards:nth-child(6) a{
    margin-bottom: 15px;
}
.gb-cards:nth-child(7) img {
    height: 44%;
    width: auto;
    margin-top: 50px;
}

.gb-cards:nth-child(3) {
    height: 59%;
    width: 120px;
    margin-bottom: 8px;
}
/* 
.gb-img-small a{
    padding: 5px 5px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background-color: lightgray;
}

.gb-img-small a:hover {
    background-color: #00ff33;
} */

.gbg {
    height: 100vh;
}
.gbg a:hover{
    text-decoration: none;
    color: black;

}

.gb-img-small p {
    font-size: 13px;
}

.gb:hover {
    background-color: #00ff33;
}

.gb-img-small img {
    width: 120px;
    height: auto;
}

.gb-section{
    width: 100%;
    height: 110vh;
}

/* ABOUT  */


.about {
    font-size: 12px;
}
.about-txt {
   display: flex;
   flex-direction: column;
   padding: 0px 100px;
   gap: 5px;
   font-size: 13px;
   margin-bottom: 50px;

}
.about-txt p {
    font-family: Arial, Helvetica, sans-serif;
}
.about-txt p i {
    font-family: Arial, Helvetica, sans-serif;
}
.about-txt h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.about-txt a {
    font-family: Arial, Helvetica, sans-serif;
}

.about-txt a:hover {
    background-color: #00ff33;
}

/* Containers gsw */

.picture-sticky{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-self: flex-end;
    gap: 8em;
    margin-right: 150px;
    padding-bottom: 8em;
}
.picture-sticky p {
    font-size: 12px;
    margin-top: 10px;
}

.grid-all{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.grid-container,
.grid-container-gsw,
.grid-container-drawings,
.grid-container-tc,
.grid-container-ww,
.grid-container-newvo,
.grid-container-newvowp,
.grid-container-exibitions{
    padding-bottom: 10em;
}

.grid-container p,
.grid-container-gsw p,
.grid-container-drawings p,
.grid-container-tc p,
.grid-container-ww p,
.grid-container-newvo p,
.grid-container-newvowp p,
.grid-container-exibitions p{
    margin-top: 10px;
    font-size: 12px;
}

.grid-container img,
.grid-container-gsw img,
.grid-container-drawings img,
.grid-container-tc img,
.grid-container-exibitions img {
    width: 900px;
}
.grid-container-ww img {
    width: 700px;
}

.grid-container-newvo img{
    width: 500px;
}
.grid-container-newvowp img{
    width: 420px;
}

.grid-container-gsw:nth-child(1) img,
.grid-container-gsw:nth-child(6) img,
.grid-container-gsw:nth-child(7) img {
    width: 500px;
}
.grid-container-gsw:nth-child(2) img {
    width: 780px;
}
.grid-container-gsw:nth-child(3) img,
.grid-container-gsw:nth-child(4) img {
    width: 420px;
}
.grid-container-gsw:nth-child(5) img{
    width: 480px;
}


.grid-container-drawings:nth-child(1) img,
.grid-container-drawings:nth-child(2) img,
.grid-container-drawings:nth-child(4) img,
.grid-container-drawings:nth-child(5) img {
    width: 780px;
}
.grid-container-drawings:nth-child(3) img {
    width: 700px;
}
.grid-container-tc:nth-child(1) img,
.grid-container-tc:nth-child(2) img,
.grid-container-tc:nth-child(3) img{
    width: 400px;
}
.grid-container-tc:nth-child(4) img{
    width: 350px;
}
.grid-container-tc:nth-child(5) img,
.grid-container-tc:nth-child(8) img{
    width: 390px;
}
.grid-container-tc:nth-child(6) img{
    width: 360px;
}
.grid-container-tc:nth-child(7) img{
    width: 580px;
}
.grid-container-ww:nth-child(1) img {
    width: 450px;
}

.grid-container-newvo:nth-child(2) img{
    width: 430px;
}

.grid-container-newvo:nth-child(3) img{
    width: 640px;
}

.grid-container-newvo:nth-child(4) img{
    width: 700px;
}

.grid-container-newvowp:nth-child(6) img{
    width: 520px;
}
.grid-container-newvowp:nth-child(6) p{
    margin-left: 17px;
    margin-top: 10px;
}
.grid-container-exibitions:nth-child(3) img {
    width: 550px;
}
.grid-container-exibitions:nth-child(4) img {
    width: 480px;
}
.grid-container-exibitions:nth-child(5) img,
.grid-container-exibitions:nth-child(7) img,
.grid-container-exibitions:nth-child(8) img {
    width: 400px;
}
.grid-container-exibitions:nth-child(6) img{
    width: 420px;
}


.double-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
}

/* Container WBRC */

.double-container-wbrc {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 150px;
    padding: 30px 100px;
}

.text-container-wbrc {
    padding: 50px 100px;

}

.text-container-wbrc p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.text-container-wbrc p i {
    font-family: Arial, Helvetica, sans-serif;
}

.double-container-gb {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    align-items: flex-end;
    gap: 30px;
    row-gap: 15px;
    padding: 0px 100px;
    
}
.btn1{
    padding: 5px 10px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.btn2 {
    padding: 5px 5px;
    width: auto;
    word-wrap: break-word;
    height: auto;
    font-size: 12px;
    font-weight: bold;
    border: none;
}
.btn2 input {
    width: auto;
    height: fit-content;
    word-wrap: break-word;
    padding: 10px 10px;
}

#btn3 {
    padding: 5px 10px;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.double-container-gb input:hover{
    background-color: #00ff33;
}

.text-container-gb {
    padding: 50px 100px;
    letter-spacing: 0px;
    font-size: 14px;
}

.love-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 100px;
}

.img01{
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    /* margin-bottom: 30px; */
}

.img01-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    margin-bottom: 30px;
}
.img01-container div {
    display: flex;
    align-content: flex-start;
}

.img01 img {
    width: fit-content;
    height: 100%;
}

.img01-ll {
    display: flex;
    justify-content: center;
}
.img01-ll img {
    width: 100%;
    height: auto;
}

#image{
    width: 100%;
    max-width: 350px;
    margin: 20px;
    border-radius: 5px;
  }

/* /////// Goodbye Sad World //////////// */

.links-section {
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gsw {
    width: 100%;
    height: auto;
}


.gsw-text {
    display: flex;
    justify-content: flex-start;
}
.gsw-text a {
    font-size: 30px;
    padding-left: 100px;
    padding-top: 50px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.txt-container {
    width: fit-content;
    height: 30px;
    display: flex;
    align-self: center;
}
.img-container p {
    text-align: left;
}

/* ////////ROOTED //////////////////////// */

.rooted {
    background:black;
    width: 100%;
    height: auto;
}

.rooted img {
    padding: 50px 100px 0px 100px;
    width: 100%;
}
.rooted p {
    color: white;
    padding: 10px 50px 10px 50px;
}
.rooted-text {
    display: flex;
    justify-content: flex-start;
}
.rooted-text a {
    font-size: 30px;
    padding: 10px 50px 10px 50px;
    
}
.rooted iframe {
    padding: 20px 50px;
    width: 100%;
    height: 600px;
    border: none;
}

/* SLIDER */

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.imgsl{
	max-width: 400px;
}
.container{
	padding: 30px 0px;
}
figure{
	max-width: 500px;
	margin: 0 auto 30px;
}
figure img{
	max-width: 200px;
	min-width: 200px;
	display: block;
}
.ulslider{
	list-style: none;
	margin: 0;
	text-align: center;
}
.ulslider li{
	margin: 0 5px;
	display: inline-block;
	width: 100px;
	border:1px solid #fff;
	cursor: pointer;
}
.ulslider li img{
	display: block;
    width: 100px;
    height: 100px;
}

/* .thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }
  
  .thumbnail {
    width: 70px;
    height: 70px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  } */

/* SLIDER  GREEN BOOKS*/

#rest,
#lonam,
#tears,
#ihosta,
#faf,
#tmh,
#hove  {
    background-color:white;
    padding: 0;
    position: absolute; 
    left: 0; 
    top: 110px;
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 700px;
    /* height: 70%; */ 
    display: none;
}

/* #lonam{
    background-color: rgb(241, 241, 241);
    padding: 0px 40px;
    position: absolute;
    height: fit-content;
    top: 100px;
    left: 380px;
    display: none;
} */
/* #tmh{
    background-color: rgb(241, 241, 241);
    padding: 0px 40px;
    position: absolute;
    height: fit-content;
    top: 100px;
    left: 330px;
    display: none;
} */

.wrapper {
	display: grid;
	place-items: center;
    width: 700px;
    height: 500px;

}

.slider {
	width: auto;
	position: relative;
    padding-top: 320px;
	/* margin: 20px auto; */
    margin: auto;
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75); */
}
.slider-lonam {
    width: 600px;
	position: relative;
    padding-top: 320px;
	margin: 20px auto;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;

}
.slider-tmh {
    width: 600px;
	position: relative;
    padding-top: 320px;
	margin: 10px auto;
}
.slider-hove {
    width: 620px;
    position: relative;
    padding-top: 320px;
    margin: 10px auto;

}

.slider>img,
.slider-tmh>img,
.slider-hove>img {
	position: absolute;
    width: 100%;
    height: 300px;
	left: 0;
	top: 0;
}

.slider-lonam> img {
    position: absolute;
    width: 95%;
    height: 300px;
    left: 0;
    top:0;
}


.slider input[name='ani'],
.slider-hove input[name='anihove'],
.slider input[name='anifaf'],
.slider input[name='anihosta'],
.slider-tmh input[name='anitmh'],
.slider input[name='anitears'],
.slider-lonam input[name='anilonam'] {
	display: none;
}
.slider label,
.slider-lonam label,
.slider-hove label,
.slider-tmh label {
	/* margin: 18px 0 0 18px; */
	border: 3px solid #999;
	float: left;
    margin: 5px;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}

.slider label img,
.slider-hove label img,
.slider-tmh img,
.slider-lonam label img {
	display: block;
}
.slider input[name='ani']:checked+label,
.slider-hove input[name='anihove']:checked+label,
.slider input[name='anifaf']:checked+label,
.slider-tmh input[name='anitmh']:checked+label,
.slider input[name='anihosta']:checked+label,
.slider input[name='anitears']:checked+label,
.slider-lonam input[name='anilonam']:checked+label {
	border-color: #666;
	opacity: 1;
}
.slider input[name='ani']~img,
.slider-hove input[name='anihove']~img,
.slider input[name='anifaf']~img,
.slider-tmh input[name='anitmh']~img,
.slider input[name='anihosta']~img,
.slider input[name='anitears']~img,
.slider-lonam input[name='anilonam']~img {
	opacity: 0;
	transform: scale(1.1);
}
.slider input[name='ani']:checked+label+img,
.slider-hove input[name='anihove']:checked+label+img,
.slider input[name='anifaf']:checked+label+img,
.slider-tmh input[name='anitmh']:checked+label+img,
.slider input[name='anihosta']:checked+label+img,
.slider input[name='anitears']:checked+label+img,
.slider-lonam input[name='anilonam']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/* 
#content-wrapper,
#content-wrapper2,
#content-wrapper3{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column,
.column2,
.column3 {
	width: 600px;
	padding: 10px;

}

#featured,
#featured2,
#featured3{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 30px solid rgb(241, 241, 241);

}

.thumbnail,
.thumbnail2,
.thumbnail3{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;

}

.thumbnail:hover,
.thumbnail2:hover,
.thumbnail3:hover{
	opacity:1;
}

.active,
.active2,
.active3{
	opacity: 1;
}

#slide-wrapper,
#slide-wrapper2,
#slide-wrapper3{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider,
#slider2,
#slider3{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

#slider::-webkit-scrollbar {
		width: 2px;
}
#slider2::-webkit-scrollbar{
    width: 2px;
}
#slider3::-webkit-scrollbar{
    width: 2px;
}

.arrow,
.arrow2,
.arrow3{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover,
.arrow2:hover,
.arrow3:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
} */

.x-button {
    position: absolute;
    top: 8px;
    right: 10px;
}
.x-button a:hover{
    color: #00ff33;
}
/* .x-button input {
    width: 25px;
    border: none;
} */

/* MUSIC PLAY */
.container-audio {
    width: 100%;
    height: 20px;
    margin-top: 3px;
    border-radius: 5px;
}

audio {
  width:100%;
  height: 20px;
}

/* footer */

.next-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

footer {
    height: 10vh;
    padding: 15px 0px;
    background-color:black;
    color: white;
}

footer h4{
    padding: 0px 100px;
    font-family: Orator Std, monospace;
}

footer a {
    margin-left: 100px;
    font-family: Orator Std, monospace;
    color: white;
    width: fit-content;

}

footer a:hover {
    background-color: #00ff33;
    
}



/* Media Queries */

@media (max-width: 768px) {
    .text-header {
        display: flex;
        align-items: center;
        padding: 30px 25px;
        letter-spacing: 20px;
        margin: 0;
    }
    .text-header-black {
        padding: 30px 25px;
        letter-spacing: 20px;
    }
    .text-header-black a{
        font-size: 15px;
    }

    .text-header a {
        font-size: 15px;
        padding: 2px 2px;
        margin: auto;
    }

    nav {
        padding: 20px;
    }

    nav ul li a {
        font-size: 10px;
        line-height: normal;
    }
    
    nav ul ul li a{
        font-size: 20px;
        padding-left: 30px;
        line-height: normal;
    }

    .gsw-text a{
        font-size: 20px;
        padding: 20px 20px;
    }
    .gsw img {
        padding: 5px 20px;
        width: 100%;
        height: auto;
    }
    footer {
        padding: 0;
        padding-top: 15px;
    }
    .gsw p {
        margin: 0px;
        padding: 5px 20px;
    }
    .next-footer h4,
    .next-footer a {
        padding: 10px 10px;
        margin-left: 10px;
    }
    .img01{
        margin: 0px;
    }
    .txt01,
    .txt01-01,
    .txt01-02,
    .txt01-03 {
        margin-bottom: 50px;
    }
    /* gswsf */
    
    .grid-all{
        display: flex;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .grid-container{
        display: flex;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .grid-container img {
        padding: 5px 100px;
        width: 100%;
        height: auto;
    }
    /* .sf-img {
     align-items: center;
     width: fit-content;
     padding: 0px 0px 10px 0px;
     gap: 1px; 
    }
    .sf-img img {
        width: 250px;
        height: fit-content;
    }
    .double-container{
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        height: auto;
    } */
    /* wbrc */
    .text-container-wbrc {
        padding: 100px 10px;
    
    }
    /* tyde */
    .content{
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        /* height: fit-content;
        width: auto;
        position: relative; */
    }
    .tyde-container{
        height: fit-content;
    }
    /* green books */

    .gb-section{
        width: 100%;
        height: auto;
    }
    .double-container-gb {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        align-items: center;
        gap: 30px;
        row-gap: 15px;
        padding: 0px 10px;
    }
    /* about */
    .about-txt{
        padding: 20px;
    }
}